<nav class="navbar navbar-expand-lg navbar-light nav-right">
    <a class="navbar-brand" href="{% url 'home' %}">Funds</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mt-2 mt-lg-0 mr-auto">    
            {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="">Accounts</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'registration:logout' %}">Log Out</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'registration:login' %}">Log in</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'registration:signup' %}">Sign up</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
<p></p>