{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
<div class="login">
    <h1><a href="{% url 'home' %}">FUNDS</a></h1>
    
    <div class="tabs">
        <a href="{% url 'registration:login' %}"><span class="tab active">Sign in</span></a>
        <a href="{% url 'registration:signup' %}"><span class="tab">Sign up</span></a>
    </div>

    <div class="input_form">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_table }}
            <div class="button-position">
                <input type="submit" class="confirm-button" value="Sign in">
            </div>
        </form>
    </div>

    <div class="password-reset">
        <p><a href="{% url 'registration:reset_password' %}">Forgot your password?</a></p>
    </div>

</div>
{% endblock  %} 