{% extends "base.html" %}
{% block content %}

<div class="unauthenticated">
    <div class="unauthenticated-view">
        <div class="brand"><a href="{% url 'home' %}">FUNDS</a></div>

        <div class="tabs">
            <a href="{% url 'registration:login' %}"><span class="tab">Sign in</span></a>
            <a href="{% url 'registration:signup' %}"><span class="tab">Sign up</span></a>
        </div>

        <form method="POST" class="input_form" novalidate>
            {% include "_form.html" %}
            <input type="submit" class="confirm-button" value="Change password">
        </form>
    </div>
</div>
{% endblock  %} 