{% extends "base.html" %}
{% block content %}

    <div class="page">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Change Password</li>
            </ol>
        </nav>

        <div class="jumbotron">
            <h1 class="display-5">Change Password</h1>
            <!-- <p class="lead">Title subtext</p> -->
            <hr class="my-2">
            <!-- <p>Text after line</p> -->
        </div>

        <form method="POST" class="input_form" novalidate>
            {% include "core/_form.html" %}
            <input type="submit" class="confirm-button" value="Change password">
        </form>
    </div>

{% endblock %} 