{% extends "base.html" %}
{% block content %}

<div class="unauthenticated-view">
    <div class="login">
        <h1><a href="{% url 'home' %}">FUNDS</a></h1>

        <div class="tabs">
            <a href="{% url 'registration:login' %}"><span class="tab">Sign in</span></a>
            <a href="{% url 'registration:signup' %}"><span class="tab">Sign up</span></a>
        </div>

        <div class="title">
            <h2>Check your emails</h2>
        </div>

        <div class="text">
            <p>We’ve emailed you instructions for setting your password. You should receive them shortly.</p>
            <p>If you don’t receive an email, please make sure you’ve entered the correct email and check your spam folder.</p>
        </div>
        
    </div>
</div>
{% endblock  %} 