{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
<div class="login">
    <h1><a href="{% url 'home' %}">FUNDS</a></h1>

    <div class="tabs">
        <a href="{% url 'registration:login' %}"><span class="tab">Sign in</span></a>
        <a href="{% url 'registration:signup' %}"><span class="tab">Sign up</span></a>
    </div>

    <div class="text">
        <p>
            Your Password Has Been Reset.
            <br>
            You can login now.
        </p>
    </div>
</div>
{% endblock  %} 