// Fonts
$body-font: 'Lato', sans-serif;

$font-size-small: 11px;
$font-size-button: 12px;
$font-size-mid: 13px;
$font-size-body: 14px;
$font-navbar-size: 15px;
$font-size-brand: 20px;

// Colour definitions
$colour-blue: #263238;
$colour-white: #ffffff;
$colour-grey0: #f8f8f8;
$colour-grey1: #d9d9d9;
$colour-grey2: #8d8d8d;
$colour-grey3: #505050;
$colour-black: black;
$colour-error: #ce2334c7;


body {
  background: $colour-white;

  font-family: $body-font;
  font-size: $font-size-body;
} 


.brand {
  font-size: $font-size-brand;
  font-weight: 700;
  
  text-align: center;
  text-transform: uppercase;

  letter-spacing: 2px;
  color: $colour-blue;
 
  a {
    text-decoration: None;
    color: inherit;
  }

  img {
    max-width: 180px;
    height: auto;
  }
}


.input_form {
  padding: 10px 10px;

  input {
    padding: 16px 13px;
    
    height: 40px;
    width: 100%;
    max-width: 300px;

    color: $colour-grey3;
    font-size: $font-size-body;  
    border: 1px solid $colour-grey1;
    border-radius: 0px;

    &:focus{
      outline: none;
      border: 1px solid $colour-grey2;
    }
  }

  .field {
    display: flex;
  }

  .error {
    padding: 7px 20px;
    height: 40px;
    margin-left: 10px;
  
    font-size: 13px;
    font-weight: bold;  
    border-radius: 1px;
    border: 0px solid #ce2334c7;
    background-color: #ce2334c7;
    color: $colour-white;
  }

  .confirm-button {
    cursor: pointer;

    width: 100%;
    height: 40px;

    font-size: $font-size-button;
    line-height: 9px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: $colour-blue;
    border: 1px solid $colour-blue;
    background: transparent;

    &:hover {
        background-color: $colour-blue;
        color: $colour-white;
    }
  }
}

.unauthenticated-view > .input_form {
  display: grid;

  .error {
    position: absolute;
    right: -110px;
    float: none;

    padding: 7px 20px;
    height: 40px;
  
    font-size: 13px;
    font-weight: bold;  
    border-radius: 1px;
    border: 0px solid #ce2334c7;
    background-color: #ce2334c7;
    color: $colour-white;
  }

  input {  
    margin-left: 0px;
  }
}

.tabs {
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px solid $colour-grey1;
  text-align: center;

  a{
    font-size: $font-size-small;
    text-decoration: none;
    text-transform: uppercase;
    color: $colour-grey1;

    .tab {
      display: inline-block;
      margin-bottom: -1px;
      padding: 20px 15px 10px;
      cursor: pointer;
      letter-spacing: 0;
      border-bottom: 1px solid $colour-grey1;

      &.active {
        border-bottom: 1px solid $colour-blue;
        color: $colour-blue;
      }
      &:hover {
        color: $colour-blue;
      }
    }
  }
}

.page {
  width: 80%;
  margin: 0 auto;
}

.unauthenticated {
  justify-content: center;
  display: flex;

  &-view {
    position: fixed;

    top: 180px;
    width: 330px;
    height: 410px;
    padding: 50px 50px;

    border: 1px solid #dadada;
    background-color: white;
  }

  .brand {
    font-size: 28px;
    margin-bottom: 23px;
  }

  .password-reset {
    text-align: center;
    margin-top: -5px;    

    a {  
      position: relative;
      font-size: $font-size-mid;
      color: $colour-grey3;
  
      &:hover{
        color: $colour-blue;
        text-decoration: underline;
      }
    }
  }
}


.notifications {
  display: flex;
  position: fixed;
  justify-content: center;

  width: 100%;
  padding: 13px;
  // min-height: 58px;
  z-index: 1000;
   
  font-size: $font-size-body;
  text-align: center;

  border-radius: 0;
  margin-bottom: 0;
}


.navbar.navbar-clean {
  // Navbar background colours
  // border-bottom: 1px solid $colour-grey2;
  border-bottom: 1px solid $colour-grey1;
  background-color: white;

  font-size: $font-size-body;
  line-height: 9px;

  .nav-link{
    padding-left: 10px;
    padding-right: 10px;
  }

  .navbar-brand{
    font-size: $font-size-brand;
    font-weight: bold;
    color: $colour-black;
    margin-right: 25px;
    margin-left: 23px;

    img {
      max-width: 145px;
      height: auto;
      margin-bottom: 2px;
      margin-top: 2px;
    }
  }

  a {
    // Navbar link colour
    color: $colour-black;
  }
  
  a i {
    // Dropdown arrow position
    position: relative;
    left: 1px;
  }

  ul > li > a:hover,
  li.open a {
    // Text colour when hovered on
    color: black;
  }
}

.dropdown {
  &-menu {
    padding: 5px 0;
    font-size: $font-size-mid;
  }

  &-item {
    padding: 10px 24px 10px 24px;
  }

  &-menu > a:hover{
    // Hovered dropdown colours
    background: $colour-grey0;
    color: $colour-black;
  }
}


.alert-danger {
  color: $colour-white;
  background-color: $colour-error;
  border-color: $colour-error;
  font-weight: bold;
}

// Field validation popover CSS
.popover {
  // position: static;
  font-family: $body-font;
  font-size: $font-size-mid;
  font-weight: bold;

  border-radius: 1px;
  border: 0px solid $colour-error;
  background-color: $colour-error;
  
  &-body{
    color: $colour-white;
    padding: 7px;
  }
}

// Field validation popover - remove arrow pointers
.bs-popover {
  &-right > .arrow {
    visibility: hidden;
  }
  &-left > .arrow {
    visibility: hidden;
  }
  &-top > .arrow {
    visibility: hidden;
  }
  &-bottom > .arrow {
    visibility: hidden;
  }
}

.breadcrumb {
  background-color: $colour-white;
  border-radius: 0px;
  padding: 10px 0px 10px 10px;
  margin-bottom: 0;
}

.jumbotron {
  background-color: $colour-white;
  border-radius: 0px;
  padding: 10px 0 10px 10px;
  margin-top: 10px;
  margin-bottom: 30px;
}
